[Unit]
Description=Kabot

[Service]
User=kabot
RestartSec=120
Restart=always
WorkingDirectory=/home/kabot/kabot
ExecStart=/home/kabot/kabot/env/bin/python -u kabot.py kabot.yaml

[Install]
WantedBy=multi-user.target
